h1{
    color:coral;
    font-size: 50px;
    border-width: 30px;
    border-color: crimson;
}

button{
    color:yellow;
}

p{
    color: cornflowerblue;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: darkred;
}
